*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: sans-serif, Arial, Helvetica;
}
/* COMEÇO DO HEADER */
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: black;
}

header h1{
    color: white;
}

header button{
    background-color: aliceblue;
    width: 100px;
    height: 30px;
    border-radius: 8px;
    border: none;
    padding: 8px;
}

/* FIM DO HEADER */

